
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
		background-color: rgb(162,228,184,0.6) ;

    &__h1{
        color: bisque;

    }
    &__nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
		&__link{
      margin-right: 2rem;
			font-size: 1.5rem;
			color:bisque;
			text-decoration: none;
		}
		
  }